<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="~/favicon.ico?v=2" rel="shortcut icon" type="image/x-icon" />
    <title>NWPU Library System</title>
    @Scripts.Render("~/bundles/modernizr")
    <!-- Assets -->
    @Styles.Render("~/Content/font-awesome.min.css")
    <!-- Bootstrap core CSS -->
    @Styles.Render("~/vendor/bootstrap/css/bootstrap.min.css")
    <!--link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" -->
    <!-- Custom styles for this template -->
    @Styles.Render("~/Content/css/simple-sidebar.css")
    <!--link href="css/simple-sidebar.css" rel="stylesheet"-->
    <!-- /#wrapper -->
    <!-- Bootstrap core JavaScript -->
    @Scripts.Render("http://code.jquery.com/jquery-1.10.2.min.js")
    @Scripts.Render("http://cdn.datatables.net/1.10.15/js/jquery.dataTables.js")
    @Styles.Render("http://cdn.datatables.net/1.10.15/css/jquery.dataTables.css")
    @Scripts.Render("~/vendor/popper/popper.min.js")
    @Scripts.Render("~/vendor/bootstrap/js/bootstrap.min.js")
    <!-- Menu Toggle Script -->
</head>
<body>
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <i class=""></i>
                    @Html.ActionLink("Home","Index","Home")
                </li>
                <li>
                    @Html.ActionLink("Profile", "Index", "UserInfoes")
                </li>
                <li>
                    @Html.ActionLink("Borrow Books","Index","Books")
                </li>
                <li>
                    @Html.ActionLink("Return Books","Index","BorrowAndReturns")
                </li>
                <li>
                    @Html.ActionLink("Logout","Logout","Users")
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="col-md-12">
                <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Menu</a>
                <div class="btn btn-secondary">
                    @Html.ActionLink("Login","Login","Users")
                </div>
                <div class="btn btn-secondary">
                    @Html.ActionLink("Register","Create","Users")
                </div>
            </>
            <div class="form-group"></div>
            <hr>
            @RenderBody()
        </div>
        <!-- /#page-content-wrapper -->
    </div>
   
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>

    
</body>
</html>
