@model IEnumerable<LibraryProject.ViewModels.BorrowAndReturnOuput>

@{
    ViewBag.Title = "Index";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <ol class="breadcrumb">
        <li><a href="/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Borrow Manage</li>
    </ol>
</section>


<p>
    @Html.ActionLink("Borrow For User", "Create")
</p>
<table id="table_id" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookName)
            </th>
            <th>
                @Html.DisplayNameFor(model=>model.BorrowTime)
            </th>
            <th>
                @Html.DisplayNameFor(model=>model.ReturnTime)
            </th>
            <th>
                @Html.DisplayNameFor(model=>model.ExpiredDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsReturn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem=>item.BorrowTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem=>item.ReturnTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem=>item.ExpiredDays)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsReturn)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id=item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.ID })
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $('#table_id').dataTable();
    });
</script>
