@model LibraryProject.Models.Article

@{
    ViewBag.Title = "Details";
}

@using LibraryProject.Models

@{
    User user = CheckLogin.Instance.GetUser();
}

@if (user == null || user.Role.Equals("user") == true)
{
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <ol class="breadcrumb">
            <li><a href="/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="/Articles/LatestNews">Latest News</a></li>
            <li class="active">@(new HtmlString(Model.Title))</li>
        </ol>
    </section>
}
else
{
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <ol class="breadcrumb">
            <li><a href="/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="/Articles/Index">Content Manage</a></li>
            <li class="active">@(new HtmlString(Model.Title))</li>
        </ol>
    </section>
}

<div>
    <div class="col-md-12">
        <h3><strong>@Html.DisplayFor(model => model.Title)</strong></h3>
        <h3></h3>
    </div>
    <hr />
    <h3></h3>
    <div class="col-md-12">
        <div class="col-md-6">
            <strong>@Html.DisplayNameFor(model => model.AuthorName)</strong> :
            @Html.DisplayFor(model => model.AuthorName)
        </div>
        <div class="col-md-6">
            <strong>@Html.DisplayNameFor(model => model.CreateTime)</strong> :
            @Html.DisplayFor(model => model.CreateTime)
        </div>
    </div>
    <div class="col-md-12">
        <h3></h3>
        @(new HtmlString(Model.Content))
    </div>
</div>
